<div class="gb-spinner-demo">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2>Spinners</h2>
      </div>
    </div>
    <div>
    <h4>Simple Spinner</h4>
    <button class="spinner-btn" (click)="callSpinner()">Trigger Spinner</button>
    <gb-spinner>
    </gb-spinner>
    </div>
    <div>
      <h4>Bar Spinner</h4>
      <button class="bar-spinner-btn" (click)="callBarSpinner()">Trigger Bar Spinner</button>
      <gb-bar-spinner>
      </gb-bar-spinner>
    </div>
  </div>
</div>

