.spinner-btn {
  color: white;
  font-weight: bold;
  background-color: dodgerblue;
  border-color: black;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

.bar-spinner-btn {
  color: white;
  font-weight: bold;
  background-color: seagreen;
  border-color: black;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

.circle-spinner-btn {
  color: white;
  font-weight: bold;
  background-color: darkred;
  border-color: black;
  border-width: 1px;
  padding: 10px;
  border-radius: 5px;
}

